# uni-app 编译输出目录
/unpackage/
/unpackage/dist/

# Node.js 相关
/node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# 编辑器和IDE相关
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统相关
.DS_Store
Thumbs.db
Desktop.ini

# 本地配置文件
manifest.local.json
uni.scss

# 本地环境变量
.env.local
.env.*.local

# 日志文件
*.log
